<!DOCTYPE html>
<html ng-app="Debt">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#money</title>

    <!-- Foundation -->
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="/css/foundation-icons.css"/>

    <!-- Our Customizations -->
    <link rel="stylesheet" href="/css/main.css"/>

    <!-- Foundation -->
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.clearing.js"></script>

    <!-- Angular -->
    <script src="/js/angular.min.js"></script>

    <!-- Main Code -->
    <script src="/js/app.js"></script>
</head>
<body ng-app="">
<h1 class="text-center">#money</h1>


<div class="row" ng-controller="DebtCtrl">
    <div class="medium-4 columns">
        <label>Who are you?</label>
        <select id="name" ng-model="name" autofocus>
            <option ng-repeat="name in names">{{ name }}</option>
        </select>

        <label>Who owes you money?</label>
        <select ng-model="owedTo">
            <option ng-repeat="name in names">{{ name }}</option>
        </select>

        <label>How much do they owe?</label>
        <input type="text" placeholder="Amount" ng-model="amount"/>

        <label>When did this happen?</label>
        <input id="date" type="date" ng-model="date"/>

        <label>What for?</label>
        <textarea id="notes" rows="3" placeholder="Toothbrush, toilet paper, milk, etc." ng-model="notes"></textarea>

        <label>Got a picture?</label>
        <input type="file" accept=".png,.jpg,.jpeg,.bmp" app-file-reader ng-model="pictureData"/>

        <button class="button expand" ng-click="submit()">Add</button>
    </div>
    <div class="medium-8 columns">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owes</th>
                    <th>Amount</th>
                    <th width="150">Date</th>
                    <th width="350">Notes</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="debt in debts | orderBy:'date':true">
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.owed_to }}</td>
                    <td class="text-right">{{ (debt.amount / 100).toFixed(2) }}</td>
                    <td>{{ debt.date.toDateString() }}</td>
                    <td>{{ debt.notes }}</td>
                    <td class="text-center">
                        <ul class="clearing-thumbs" data-clearing>
                            <li><a href="/images/eac23f48-f1ff-4704-b92a-b460226bdb5e.jpeg"><img src="/images/eac23f48-f1ff-4704-b92a-b460226bdb5e.jpeg"></a></li>
                        </ul>

                        <!-- <img ng-src="{{ debt.image_path }}"> -->
                        <i class="fi-camera size-21"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).foundation();
</script>
</body>
</html>