<!DOCTYPE html>
<html ng-app="Debt">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#money</title>

    <!-- Foundation -->
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="/css/foundation-icons.css"/>

    <!-- Fancy Box -->
    <script src="/js/fancybox/jquery.fancybox.js"></script>
    <script src="/js/fancybox/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css"/>

    <!-- Angular -->
    <script src="/js/angular.min.js"></script>

    <!-- Main Code -->
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body ng-app="">
<h1 class="text-center">#money</h1>

<div class="row" ng-controller="DebtCtrl">
    <div class="medium-4 columns">
        <form name="form">
            <label>Who are you?</label>
            <select id="name" ng-model="name" autofocus ng-change="selectedName()">
                <option ng-repeat="name in names">{{ name }}</option>
            </select>

            <label>Who owes you money?</label>
            <select ng-model="owedTo" ng-change="selectedOwedTo()">
                <option ng-repeat="name in names">{{ name }}</option>
            </select>

            <label>How much do they owe?</label>
            <input type="number" placeholder="Amount" ng-model="amount" required min="0.01" max="500" step="0.01"/>

            <label>When did this happen?</label>
            <input id="date" type="date" ng-model="date"/>

            <label>What for?</label>
            <textarea id="notes" rows="3" placeholder="Toothbrush, toilet paper, milk, etc." ng-model="notes" required></textarea>

            <label>Got a picture?</label>
            <input type="file" accept=".png,.jpg,.jpeg,.bmp" app-file-reader ng-model="pictureData"/>

            <button class="button expand" ng-click="submit()">Add</button>
        </form>
    </div>
    <div class="medium-8 columns">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owes</th>
                    <th>Amount</th>
                    <th width="150">Date</th>
                    <th width="350">Notes</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="debt in debts | orderBy:'date':true">
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.owed_to }}</td>
                    <td class="text-right">{{ (debt.amount / 100).toFixed(2) }}</td>
                    <td>{{ debt.date.toDateString() }}</td>
                    <td>{{ debt.notes }}</td>
                    <td class="text-center">
                        <a class="fancybox" rel="group" ng-href="{{ debt.image_path }}" ng-if="debt.image_path.length > 0">
                            <i class="fi-camera size-21"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).foundation();
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>
</body>
</html>